<div class="container">
  <h2>フォローしている人</h2>
  <% @user.followed_users.each do |user| %>
      <%= profile_img(user) %>
      <%= user.name %>
      <br><br>
  <% end %>
</div>

<div class="container">
  <h2>フォロワー</h2>
  <% @user.followers.each do |user| %>
    <%= profile_img(user) %>
    <%= user.name %>
    <br><br>
  <% end %>
</div>

<%= link_to 'ユーザー一覧', users_path %>
