<div class="container">

  <% @users.each do |user| %>
      <% if user.id == current_user.id %>
        <%= profile_img(user) %><br>
        <%= user.name %><br>
        <%= user.email %><br>
        <%= link_to user.name, user %>
    <% end %>
  <% end %>
  <br>  <br>
<h2>ともだちかも？</h2>
  <br>
    <% @users.each do |user| %>
      <% if user.id != current_user.id %>
        <%= profile_img(user) %><br>
        <%= link_to user.name, user %><br>
        <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
        <%= render partial: 'follow_form', locals: { user: user } if signed_in?   %>
    <br><br>
    <% end %>
  <% end %>
</div>